<button class="w-25 btn btn-primary ms-3 my-2" [routerLink]="['/departments/add']">Add Department</button>
<table class="table text-center  table-dark table-striped table-hover table-bordered table-primary align-middle">
    <thead class="table-light">
        <caption>
            Departments
        </caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of students</th>
            <th>Location</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let dept of departments" class="align-middle">
            <td>{{dept.id}}</td>
            <td>{{dept.name}}</td>
            <td>{{dept.studentNo}}</td>
            <td>{{dept.Location}}</td>
            <td><input type="button" class="btn btn-info  text-white " [routerLink]="['/departments/details',dept.id]"
                    value="Details" /></td>
            <td><input type="button" class="btn btn-success text-white " [routerLink]="['/departments/edit',dept.id]"
                    value="Edit" />
            <td><input type="button" class="btn btn-danger text-white " (click)="deletedept(dept.id)" value="Delete" />
            </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>