<table class="table text-center  table-dark table-striped table-hover table-bordered table-primary align-middle">
    <thead class="table-light">
        <caption>
            Departments
        </caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of students</th>
            <th>Location</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let dept of departments" class="align-middle">
            <td>{{dept.id}}</td>
            <td>{{dept.name}}</td>
            <td>{{dept.studentNo}}</td>
            <td>{{dept.Location}}</td>
            <td><input type="button" class="btn btn-info  text-white " (click)="changeId(dept.id);mode='details'"
                    value="Details" /></td>
            <td><input type="button" class="btn btn-success text-white " (click)="changeId(dept.id);mode='edit';"
                    value="Edit" />
            <td><input type="button" class="btn btn-danger text-white " (click)="deletedept(dept.id)" value="Delete" />
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="mode=='add'">
    <app-adddept></app-adddept>
</div>
<div *ngIf="mode!='add'">
    <button class="w-25 btn btn-primary ms-3 my-2" (click)="addClicked()">Add Department</button>
</div>

<div *ngIf="mode=='details'" class="my-3">
    <app-deptdetails [deptid]="dept_id"></app-deptdetails>
</div>
<div *ngIf="mode=='edit'">
    <app-editdept [deptid]="dept_id"></app-editdept>
</div>