<h4 class="alert-info alert">Add new department</h4>
<label for="id" class="ms-3">ID:</label>
<input type="text" class="form-control ms-3 w-75" id="id" value="{{newdept.id}}" readonly>
<label for="name" class="ms-3">Name:</label>
<input type="text" class="form-control ms-3 w-75" id="name" [(ngModel)]="newdept.name" required>
<label for="stdno" class="ms-3">Number of students:</label>
<input type="number" class="form-control ms-3 w-75" id="stdno" [(ngModel)]="newdept.studentNo" required>
<label for="Location" class="ms-3">Location:</label>
<input type="text" class="form-control ms-3 w-75" id="Location" [(ngModel)]="newdept.Location" required>
<div>
    <button class="w-25 btn btn-primary ms-3 my-3" (click)="addDepartment()">Add Department</button>
</div>