<table class="table text-center  table-dark table-striped table-hover table-bordered table-primary align-middle">
    <thead class="table-light">
        <caption>
            Students
        </caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let std of students" class="align-middle">
            <td>{{std.id}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td><input type="button" class="btn btn-info  text-white " (click)="showDetails(std.id);mode='details'"
                    value="Details" /></td>
            <td><input type="button" class="btn btn-success text-white " (click)="editClicked(std.id);mode='edit';"
                    value="Edit" />
            </td>
            <td><input type="button" class="btn btn-danger text-white " (click)="deletestudent(std.id)"
                    value="Delete" /></td>
        </tr>
    </tbody>
</table>

<div *ngIf="mode=='add'">
    <h4 class="alert-info alert">Add new Student</h4>
    <label for="id" class="ms-3">ID:</label>
    <input type="text" class="form-control ms-3 w-75" id="id" value="{{newstudent.id}}" readonly>
    <label for="name" class="ms-3">Name:</label>
    <input type="text" class="form-control ms-3 w-75" id="name" [(ngModel)]="newstudent.name" required>
    <label for="age" class="ms-3">Age:</label>
    <input type="number" class="form-control ms-3 w-75" id="age" [(ngModel)]="newstudent.age" required>
</div>
<button class="w-25 btn btn-primary ms-3 mt-3" (click)="addStudent()">Add Student</button>
<div *ngIf="mode=='details'">

    <h4 class="alert-info alert">Student {{studentdetails.name}} details</h4>
    <label for="id" class="ms-3">ID:</label>
    <input type="text" class="form-control ms-3 w-75" id="id" value="{{studentdetails.id}}" readonly>
    <label for="name" class="ms-3">Name:</label>
    <input type="text" class="form-control ms-3 w-75" id="name" [(ngModel)]="studentdetails.name" readonly>
    <label for="age" class="ms-3">Age:</label>
    <input type="number" class="form-control ms-3 w-75" id="age" [(ngModel)]="studentdetails.age" readonly>
</div>

<br><br>
<div *ngIf="mode=='edit'">
    <h4 class="alert-warning  alert">Edit Student</h4>
    <label for="id" class="ms-3">ID:</label>
    <input type="text" class="form-control ms-3 w-75" id="id" value="{{editstudent.id}}" readonly>
    <label for="name" class="ms-3">Name:</label>
    <input type="text" class="form-control ms-3 w-75" id="name" [(ngModel)]="editstudent.name" required>
    <label for="age" class="ms-3">Age:</label>
    <input type="number" class="form-control ms-3 w-75 mb-3" id="age" [(ngModel)]="editstudent.age" required>
    <button class="w-25 btn btn-primary ms-3" (click)="updateStudent()">Update Student</button>
</div>