<table class="table text-center  table-dark table-striped table-hover table-bordered table-primary align-middle">
    <thead class="table-light">
        <caption>
            Students
        </caption>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let std of students" class="align-middle">
            <td>{{std.id}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td><input type="button" class="btn btn-info  text-white " (click)="changeId(std.id);mode='details';"
                    value="Details" /></td>
            <td><input type="button" class="btn btn-success text-white " (click)="editClicked(std.id);mode='edit';"
                    value="Edit" />
            </td>
            <td><input type="button" class="btn btn-danger text-white " (click)="deletestudent(std.id)"
                    value="Delete" /></td>
        </tr>
    </tbody>
</table>

<div *ngIf="mode=='add'">
    <app-addstudent></app-addstudent>
</div>
<div class="my-3">
    <button *ngIf="mode!='add'" class="w-25 btn btn-primary ms-3 my-2" (click)="addClicked()">Add Student</button>
</div>

<div *ngIf="mode=='details'">
    <app-studentdetails [studentid]="studentid"></app-studentdetails>
</div>

<div *ngIf="mode=='edit'">
    <app-editstudent [studentid]="studentid"></app-editstudent>
</div>