<h4 class="alert-warning  alert">Edit Student</h4>
<label for="id" class="ms-3">ID:</label>
<input type="text" class="form-control ms-3 w-75" id="id" value="{{editstudent.id}}" readonly>
<label for="name" class="ms-3">Name:</label>
<input type="text" class="form-control ms-3 w-75" id="name" [(ngModel)]="editstudent.name" required>
<label for="age" class="ms-3">Age:</label>
<input type="number" class="form-control ms-3 w-75 mb-3" id="age" [(ngModel)]="editstudent.age" required>
<button class="w-25 btn btn-primary ms-3" (click)="editStudent()">Update Student</button>